.theme__gGunuXH7DwafQKIoo6BYh h1,
.theme__gGunuXH7DwafQKIoo6BYh h2,
.theme__gGunuXH7DwafQKIoo6BYh h3,
.theme__gGunuXH7DwafQKIoo6BYh h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.theme__gGunuXH7DwafQKIoo6BYh p {
  line-height: 1.7;
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow-wrap: break-word; }
  .theme__gGunuXH7DwafQKIoo6BYh p:empty {
    display: none; }
  .theme__gGunuXH7DwafQKIoo6BYh p:last-child {
    margin-bottom: 0; }

.theme__gGunuXH7DwafQKIoo6BYh ul,
.theme__gGunuXH7DwafQKIoo6BYh ol {
  font-size: 1.2rem;
  list-style: none;
  padding-left: 0;
  margin: 1rem 0; }
  .theme__gGunuXH7DwafQKIoo6BYh ul ul,
  .theme__gGunuXH7DwafQKIoo6BYh ul ol,
  .theme__gGunuXH7DwafQKIoo6BYh ol ul,
  .theme__gGunuXH7DwafQKIoo6BYh ol ol {
    margin-top: 0.5rem; }
    .theme__gGunuXH7DwafQKIoo6BYh ul ul li:last-child,
    .theme__gGunuXH7DwafQKIoo6BYh ul ol li:last-child,
    .theme__gGunuXH7DwafQKIoo6BYh ol ul li:last-child,
    .theme__gGunuXH7DwafQKIoo6BYh ol ol li:last-child {
      margin-bottom: 0; }
  .theme__gGunuXH7DwafQKIoo6BYh ul li,
  .theme__gGunuXH7DwafQKIoo6BYh ol li {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.7; }
    .theme__gGunuXH7DwafQKIoo6BYh ul li:last-child,
    .theme__gGunuXH7DwafQKIoo6BYh ol li:last-child {
      margin-bottom: 1rem; }

.theme__gGunuXH7DwafQKIoo6BYh ul li::before {
  content: "\25CF";
  position: absolute;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  top: 0;
  left: -2rem;
  width: 2rem;
  line-height: 1.7;
  text-align: center; }

.theme__gGunuXH7DwafQKIoo6BYh ol {
  counter-reset: "ordered-list"; }
  .theme__gGunuXH7DwafQKIoo6BYh ol li {
    counter-increment: ordered-list; }
    .theme__gGunuXH7DwafQKIoo6BYh ol li::before {
      content: counter(ordered-list) ".";
      position: absolute;
      top: 0;
      left: -2rem;
      width: 2rem;
      text-align: center;
      line-height: inherit; }

.theme__gGunuXH7DwafQKIoo6BYh code {
  padding: 0 0.25rem;
  margin: 0 0.0625rem;
  border-radius: 0.125rem;
  color: #15141f;
  background-color: #dfe0e0;
  white-space: normal;
  vertical-align: baseline;
  font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
  font-size: 0.9rem; }

.theme__gGunuXH7DwafQKIoo6BYh pre > code {
  display: block;
  padding: 0;
  background-color: transparent; }

.theme__gGunuXH7DwafQKIoo6BYh img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  max-width: 100%; }

.theme__gGunuXH7DwafQKIoo6BYh iframe {
  width: 100%; }

.theme__22QeW-d-YRjfwg7z9oiZH_ h1,
.theme__22QeW-d-YRjfwg7z9oiZH_ h2,
.theme__22QeW-d-YRjfwg7z9oiZH_ h3,
.theme__22QeW-d-YRjfwg7z9oiZH_ h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.theme__22QeW-d-YRjfwg7z9oiZH_ p {
  line-height: 1.6;
  font-size: 1.1rem;
  word-wrap: break-word;
  overflow-wrap: break-word; }
  .theme__22QeW-d-YRjfwg7z9oiZH_ p:empty {
    display: none; }
  .theme__22QeW-d-YRjfwg7z9oiZH_ p:last-child {
    margin-bottom: 0; }

.theme__22QeW-d-YRjfwg7z9oiZH_ ul,
.theme__22QeW-d-YRjfwg7z9oiZH_ ol {
  font-size: 1.1rem;
  list-style: none;
  padding-left: 0;
  margin: 1rem 0; }
  .theme__22QeW-d-YRjfwg7z9oiZH_ ul ul,
  .theme__22QeW-d-YRjfwg7z9oiZH_ ul ol,
  .theme__22QeW-d-YRjfwg7z9oiZH_ ol ul,
  .theme__22QeW-d-YRjfwg7z9oiZH_ ol ol {
    margin-top: 0.5rem; }
    .theme__22QeW-d-YRjfwg7z9oiZH_ ul ul li:last-child,
    .theme__22QeW-d-YRjfwg7z9oiZH_ ul ol li:last-child,
    .theme__22QeW-d-YRjfwg7z9oiZH_ ol ul li:last-child,
    .theme__22QeW-d-YRjfwg7z9oiZH_ ol ol li:last-child {
      margin-bottom: 0; }
  .theme__22QeW-d-YRjfwg7z9oiZH_ ul li,
  .theme__22QeW-d-YRjfwg7z9oiZH_ ol li {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.6; }
    .theme__22QeW-d-YRjfwg7z9oiZH_ ul li:last-child,
    .theme__22QeW-d-YRjfwg7z9oiZH_ ol li:last-child {
      margin-bottom: 1rem; }

.theme__22QeW-d-YRjfwg7z9oiZH_ ul li::before {
  content: "\25CF";
  position: absolute;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  top: 0;
  left: -2rem;
  width: 2rem;
  line-height: 1.6;
  text-align: center; }

.theme__22QeW-d-YRjfwg7z9oiZH_ ol {
  counter-reset: "ordered-list"; }
  .theme__22QeW-d-YRjfwg7z9oiZH_ ol li {
    counter-increment: ordered-list; }
    .theme__22QeW-d-YRjfwg7z9oiZH_ ol li::before {
      content: counter(ordered-list) ".";
      position: absolute;
      top: 0;
      left: -2rem;
      width: 2rem;
      text-align: center;
      line-height: inherit; }

.theme__22QeW-d-YRjfwg7z9oiZH_ code {
  padding: 0 0.25rem;
  margin: 0 0.0625rem;
  border-radius: 0.125rem;
  color: #15141f;
  background-color: #dfe0e0;
  white-space: normal;
  vertical-align: baseline;
  font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
  font-size: 0.9rem; }

.theme__22QeW-d-YRjfwg7z9oiZH_ pre > code {
  display: block;
  padding: 0;
  background-color: transparent; }

.theme__22QeW-d-YRjfwg7z9oiZH_ img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  max-width: 100%; }

.theme__22QeW-d-YRjfwg7z9oiZH_ iframe {
  width: 100%; }

.youtubeVideoWrapper__1eR6fAaYYVHRgmBvm_fUcb {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .youtubeVideoWrapper__1eR6fAaYYVHRgmBvm_fUcb iframe {
    position: absolute;
    width: 100%;
    height: 100%; }


/*# sourceMappingURL=5.6853a8a3d2042199a617.chunk.css.map*/