.showHeader__1DPMm-lVsCbpuRUE68nuOv {
  top: 50px; }

.wall__1chfRb-bjNqZ6zwEiMUEwV {
  position: relative;
  margin: auto;
  align-self: center;
  padding: 40px;
  z-index: 15;
  background-color: #ffffff;
  max-width: 37.5rem;
  min-width: 25rem; }
  .showHeader__1DPMm-lVsCbpuRUE68nuOv .wall__1chfRb-bjNqZ6zwEiMUEwV {
    top: -50px; }
  .wall__1chfRb-bjNqZ6zwEiMUEwV.anonTop__1328ybUH94mUIIsooNrgLl {
    top: -20px; }
  .wall__1chfRb-bjNqZ6zwEiMUEwV.noPadding__nSmTmBIj8loR_FptW2f7m {
    padding: 0; }

.type-glass__3rERzal8Fqg5P1CXUbW8uP {
  background-color: transparent;
  max-width: 100%;
  width: auto; }

.type-screen__14ey5SVlK5e8JxNBvT08rY {
  background-color: transparent; }

.anonWall__31rnTzE6PnJiOdBxIIfK60 {
  overflow: auto;
  max-height: 90vh; }
  @media only screen and (min-width: 64rem) {
    .anonWall__31rnTzE6PnJiOdBxIIfK60 {
      min-width: 400px; } }

.platform__2wPufOUWAR_i_cz8ZEknBS {
  background: #15141f;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  min-height: 100vh; }

.overlay__3f7BlbFSDRX-N5byPemb-j::before {
  background-color: rgba(21, 20, 31, 0.97); }

.header__1lY5PGR9R_3xu9eMm7KZ9y {
  margin-bottom: 1.5rem; }

.icon__2iE-u3zzBGI8QvbGDuDRrL {
  color: #69639a;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 52px; }

.iconBorder__2Se2VyZapN7HYgD6mxVv52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.preTitle__1c3wf7Bnosw0QriOAfTqbP {
  color: #4c7ef3;
  margin-bottom: 0.5rem; }

.title__2LFXEG36prOki6bVnxFVPV {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; }

.proLabel__20iSLyFV8JjOT1JVADu2sU {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0.3rem;
  background-color: #37c3be; }

.button__Zt57SVQQmQdjciVsAfogV {
  width: 100%;
  margin-bottom: 1rem; }

.description__3cgsIkECuQhOg3L4r5uUTG {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 3rem;
  line-height: 1.4; }

.content__1ojEb6ooWclJkE10bA3_aq {
  color: #ffffff;
  max-width: 31.25rem;
  padding: 0 1rem; }

.description__27bVpq82Ilj6tI3scdSxuB {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 3rem;
  line-height: 1.4; }

.button__38UjUGxD68C5GbvfwXmmnF {
  width: 100%; }

.container__27SM4kaBUe3O6JhyOPlv1V {
  background-color: #15141f;
  opacity: 1;
  position: fixed;
  top: 3.5rem;
  bottom: 3.5rem;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 15; }

.containerInner__ugwZb9FCadWkklxvGpUX9 {
  max-width: 736px;
  padding: 2rem 0; }

.subHeader__3b9V39OXwb1c3KCZOGhoow,
.questionItem__2Gf7hYakG2B1rBQDR4EHL3,
.answer__3ITTyHb3bywptf8BPQHepm,
.commentField__VyJaLag7Q3QUFd4Ik_SRy {
  color: #ffffff !important; }

.header__2JHmoEMrGIbRdqewCxSWlb {
  color: #34b3a0;
  font-size: 28px;
  margin-bottom: 2rem;
  text-transform: uppercase; }

.subHeader__3b9V39OXwb1c3KCZOGhoow {
  font-size: 18px;
  margin-bottom: 2rem; }

.questionRow__1e1-WQAGyCl3yjVX9gbJJJ {
  border-top: 1px rgba(255, 255, 255, 0.15) solid;
  padding: 0.3rem 0rem; }

.questionItem__2Gf7hYakG2B1rBQDR4EHL3,
.commentField__VyJaLag7Q3QUFd4Ik_SRy {
  text-align: left;
  font-size: 14px;
  font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace; }

.questionItem__2Gf7hYakG2B1rBQDR4EHL3 {
  margin: 1rem 0rem; }

.commentField__VyJaLag7Q3QUFd4Ik_SRy {
  padding: 1rem;
  box-sizing: border-box;
  background: none;
  height: 5.625rem;
  width: 100%;
  resize: none;
  outline: none;
  box-shadow: 0 0 0 transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important; }
  .commentField__VyJaLag7Q3QUFd4Ik_SRy:focus {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.35) !important; }

.button__2UJ7PbQcEMSvlH_0gSTjZm {
  min-width: 150px;
  margin: 0 0.5rem; }

.buttonGroup__2AVjEQUfTYgWaCHMzJ6TJm {
  padding: 1rem 0; }

.ratingContainer__2nNzWy6LMifkK2pZAWbRNh .questionItem__2Gf7hYakG2B1rBQDR4EHL3 {
  max-width: 50%; }

.ratingContainer__2nNzWy6LMifkK2pZAWbRNh .rating__2y47p3sJHCWLK4zSqCdXiJ {
  margin-left: auto; }

.proLogo__2pfFZX8LzBkZUPB3AL7q-a {
  width: 8.4375rem;
  z-index: 100; }

.topLine__2wzJRFcbal7qGBKkmAGyIS {
  width: 63.375rem;
  height: 0.0625rem;
  background-color: #ffc107;
  position: relative;
  top: -1.9rem; }

.bottomLine__2gClnkzIwHZxWcxA6_YsDu {
  width: 58.75rem;
  height: 0.0625rem;
  background-color: #ffc107;
  position: relative;
  top: -1.625rem; }

.header__ZAGO3tWa4EJr7gPT9D7OC {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  width: 54rem; }

.subheader__YMp4rnkB5WX91-busRT6 {
  color: #ffc107;
  font-size: 26px; }

.button__OJtUxYrk6WCmjZmcKzfCT {
  margin-bottom: 1rem;
  width: 30rem; }

.projectImages__2uS34_DhIwyKIgwsHjPfoU {
  display: flex;
  flex-direction: row; }

.madLibsImg__JxD4T0JSGIYizAzsYH3PS {
  height: 11.375rem; }

.madLibsName__3ZZC9pF-Vm_V9dC27r8SsZ {
  height: 4rem;
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold; }

.madLibs__2RcJ9SLcaNDa6fjOO-9hG0 > p,
.diceGame__1P4r6VNkWYmv0xj1yTEpKd > p,
.areaCalc__ns-ZiBlIZ0QyzzW1k7jXy > p {
  padding-top: 1.25rem; }

.diceGameImg__XvaGwsqT1xakmXZd-6c66 {
  height: 11.3125rem; }

.diceGameName__1hBBVDJdaRGG8Ygyh8nfcR {
  height: 4.0625rem;
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold; }

.areaCalc__ns-ZiBlIZ0QyzzW1k7jXy {
  margin-right: 1.75rem; }

.areaCalcImg__36jIGTWYZfVFZCz2rZdJma {
  height: 11.6875rem; }

.areaCalcName__1jnkfUd3uTLu5HM1wEep7l {
  height: 4.0625rem;
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-top: -0.375rem;
  width: 16.0625rem;
  margin-left: 0.18125rem;
  z-index: 5; }

.projectName__vPiakzsSysJIjuYkdaX7g {
  background-color: #ffffff; }

.overlay__3FOjCB_LQsVaEXHAwzMHCI::before {
  background-color: rgba(21, 20, 31, 0.97); }

.proLogo__3EBgdhHUuoTu-LDf4hQ94B {
  width: 8.4375rem;
  z-index: 10; }

.content__1ntsOCoCHluPnR1E-HRU75 {
  color: #ffffff;
  max-width: 60rem;
  padding: 0 1rem; }

.description__3ny4hr15XU-mRXHOUDD8NF {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 1.0625rem;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.4;
  width: 30rem;
  text-align: center; }

.header__OUXwdRX2K2hbgCpJ6FDft {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  width: 54rem; }

.subheader__10s5RGCJvPK1YNspKsyUHX {
  color: #ffc107;
  font-size: 26px; }

.upgradeText__1M5ywREfEjNRd9skcYw1PU {
  text-transform: uppercase; }

.proExclusiveModal__30zxF1a8sMHcEDu_1DmVxp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.proLogoYellow__SLocR_jgrPUtpA1XHUwTh {
  height: 2.25rem;
  margin-bottom: 0.625rem;
  margin-left: 1rem; }

.lessonTitle__3ThEE3y_-mq3l8TZArj5Oi {
  color: #ffffff;
  height: calc(100% - 80px); }

.lockedImage__1KqUXefCFXrsWN_utsacOd {
  margin-top: 0.5625rem; }

.lessonDescription__3S6zQjMr4O47j3hGGZBkC9 {
  color: #ffffff;
  width: 31.5625rem;
  margin-top: 1.5625rem; }

.proExclusiveLinks__xBO-vGJ94kwBb04RZNN3j {
  display: flex;
  flex-direction: column; }

.lessonButton__3KfCSQ48lCkW6nR2_4l4Gl {
  width: 21.875rem;
  margin: 20px auto; }

.returnPath__18kLyvt1MKIHuB9s1jUvqI {
  margin-top: 1rem;
  color: #4c7ef3; }

.overlay__3Ahs7hmPumKmvA-1AqiTHc::before {
  background-color: rgba(21, 20, 31, 0.97); }

.milestoneGateContainer__3BDTGpsgqND6Dcc-H40Yk9 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.proLogoYellow__1LLxD01B4hOJcXpCeS9dM1 {
  height: 2.25rem;
  margin-bottom: 0.625rem;
  margin-left: 1rem; }

.pathTitle__3S9krgIpfsRufIxOZDQq1j {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.3125rem; }

.trackTitle__w5fsNVhVanl1CiAVj73_6 {
  font-size: 3.2rem;
  color: #ffffff;
  height: calc(100% - 80px);
  margin-bottom: 1.875rem; }

.pathImage__2Vk6PwAsmH7C0iHN5J9HTf {
  margin-top: 0.5625rem; }

.webDev__1yamSjPWPq2iA17B0Nwwsf {
  width: 23rem; }

.dataSci__Fxn_JS5OknOCHMtUSvlZ7 {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem; }

.compSci__1T2YcrpWvnNIsJONIqehPP,
.codeFound__pxc8izUW4pryvdOhEVB_I {
  width: 13.4rem; }

.milestoneDescription__HywdpHiQeTWSCJutlQ4Kx {
  color: #ffffff;
  width: 31.5625rem;
  margin-top: 1.5625rem; }

.milestoneGateLinks__3M4BPvClW1JY3VlauFND4V {
  display: flex;
  flex-direction: column; }

.upgradeButton__2z3_iC2CuFF3dbjIwnswzn {
  width: 21.875rem;
  margin: 20px auto; }

.returnPath__QE09lTxUTMYFLU4v6Z4Hb {
  margin-top: 1rem;
  font-size: 18px;
  color: #4c7ef3; }

.overlay__3VN8-LR3DC53T2m7VmZ5c::before {
  background-color: rgba(21, 20, 31, 0.97); }

.overlay__NkgfB6Fcgi7b6h5LEKBFp::before {
  background-color: rgba(21, 20, 31, 0.97); }

.proLogo__j707gSlLKauSlMRTvJdL3 {
  width: 8.4375rem;
  z-index: 10; }

.content__3HOO8R8swoglV8KZtibDPH {
  color: #ffffff;
  max-width: 60rem;
  padding: 0 1rem; }

.description__2rP5GdaKA_Nn7bS-_oruGY {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 1.0625rem;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.4;
  width: 30rem;
  text-align: center; }

.doughnut__1ub3FEx5FAlO4C7aQplWRD {
  position: absolute;
  right: -30px;
  top: -35px;
  border: 7px solid #6df0c2;
  border-radius: 6.25rem;
  height: 6.25rem;
  width: 6.25rem;
  background-color: rgba(21, 20, 31, 0.97);
  display: flex;
  align-items: center;
  justify-content: center; }

.progressPercent__WD_DYoYvjRYb1itiW7qi3 {
  color: #ffffff;
  font-size: 1.5625rem;
  font-weight: bold; }

.header__1C5EneGUWHrkzRKMvLK-XV {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  width: 54rem; }

.subheader__3JPJIFjbmIyYJLMncbmjAT {
  color: #ffc107;
  font-size: 1.625rem; }

.progressContainer__1aobnREOwgn0DizeQ8cYfO {
  position: relative;
  margin-top: 2.1875rem; }

.upgradeText__1v7HBJjMuDI7_pQrsDV1mF {
  text-transform: uppercase; }

.overlay__2g6hMt79RNNUROiw3FRowy::before {
  background-color: rgba(21, 20, 31, 0.97); }

.proLogo__2oXRXp3HCqDC0V2JDPK2Wp {
  width: 8.4375rem;
  z-index: 10; }

.content__2S6U5z2o7EsMbRNSF3oqIM {
  color: #ffffff;
  max-width: 60rem;
  padding: 0 1rem; }

.description__29wjK5msH_hnTDR1ZlnqMm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 1.0625rem;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.4;
  width: 30rem;
  text-align: center; }

.header__2-dYGY7mtSuxHdeyDN1cwl {
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  width: 54rem; }

.subheader__bFa0jquNlcSkwLXKmpqXv {
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: normal; }

.ctaText__3e23fVQ985PxlStJX23pqP {
  text-transform: uppercase; }

.yellowCta__14tjeiq2VFgZsRrOQuVMzK,
.yellowCtaPro__3dGqUKMGe23Fzgu6jEOZsF {
  width: 30rem; }

.yellowCtaPro__3dGqUKMGe23Fzgu6jEOZsF {
  margin-top: 2.5rem; }

.modalConfetti__3b0LvUawDTJBieqaQHghKW {
  z-index: 100; }

.header__2vOQk6TJ-OPVV_6lN6ZUUw {
  color: #ffffff;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.trophy__NaJYLd2JH4ljHqSP59VEe {
  width: 10rem;
  margin-bottom: 1rem; }

.text__UzA6pQuye5pT43Gv5LbqT {
  color: #ffffff;
  font-size: 1.5rem; }

.modal__1GKwnL4kfKJ8flNJGA8Uyv {
  text-align: center; }

@-webkit-keyframes expandRight__20ScJZgfJ8ajWxHMi_dSCo {
  0% {
    -webkit-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0); }
  100% {
    -webkit-transform: translateY(-50%) scaleX(1);
            transform: translateY(-50%) scaleX(1); } }

@keyframes expandRight__20ScJZgfJ8ajWxHMi_dSCo {
  0% {
    -webkit-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0); }
  100% {
    -webkit-transform: translateY(-50%) scaleX(1);
            transform: translateY(-50%) scaleX(1); } }

.pathProgress__gMD4MraCLFuxYjqsf5W-C {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 5rem 0;
  position: relative; }
  .pathProgress__gMD4MraCLFuxYjqsf5W-C::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: #544f7b;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-animation: expandRight__20ScJZgfJ8ajWxHMi_dSCo 2s forwards;
            animation: expandRight__20ScJZgfJ8ajWxHMi_dSCo 2s forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

.pathBubble__3-sgPHg2ly-wNxR-bFZ1-1 {
  color: #ffffff;
  background-color: #69639a;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 100px; }

.header__2NkhW7e1AgS8cY87hLytWa {
  color: #ffffff;
  font-size: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.headerPreamble__2YWOrNNsn10jt27CQdXyKo {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal; }

.modal__8PBdA2IQWMwcgFGSyebn8 {
  text-align: center;
  min-width: 50rem; }

@-webkit-keyframes expandRight__3A9py2J7QBvnJS4kXcQHSs {
  0% {
    -webkit-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0); }
  100% {
    -webkit-transform: translateY(-50%) scaleX(1);
            transform: translateY(-50%) scaleX(1); } }

@keyframes expandRight__3A9py2J7QBvnJS4kXcQHSs {
  0% {
    -webkit-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0); }
  100% {
    -webkit-transform: translateY(-50%) scaleX(1);
            transform: translateY(-50%) scaleX(1); } }

.checkmark__tzW2Bao1E5cWF9jJvBQk0 {
  width: 4rem;
  height: 4rem; }

.achievementList__1229Xt8GCs3k2skJ8RhcOP {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 5rem 0;
  position: relative;
  color: #ffffff;
  font-size: 1.5rem; }
  .achievementList__1229Xt8GCs3k2skJ8RhcOP > li {
    display: flex;
    flex-direction: column;
    align-items: center; }

.circularContainer__dsuKLJ7lZPXvhgJGwYNPd {
  border: 10px solid #ffc107;
  border-radius: 100px;
  color: #ffffff;
  margin-bottom: 1rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .circularContainer__dsuKLJ7lZPXvhgJGwYNPd + div {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem; }

.progressContainer__1WpLwy2N0K356MHmo1Pccy {
  min-width: 70vw;
  margin: 10vh 0;
  justify-content: space-between; }
  .progressContainer__1WpLwy2N0K356MHmo1Pccy > div {
    justify-items: center; }
  .progressContainer__1WpLwy2N0K356MHmo1Pccy p {
    color: #ffffff !important; }
  .progressContainer__1WpLwy2N0K356MHmo1Pccy svg {
    color: #ffffff !important; }

.codey__1CN3OdKaUL2UJAOGl4dztn {
  max-width: 5rem; }

.subheader__1A_kd0EPRa7PnFEvn9mYmi {
  color: #ff8ef5;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem; }

.header__2vj6KhKZNW6eVFWl7aH7QU {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 1.2rem 0; }

.modal__2q5qR9IyekYhM2zeJoNx7r {
  text-align: center; }

.description__1XG5q12Hkh7ynNazm3eZdU {
  font-size: 1.3rem;
  color: #ffffff; }

.progressContainer__22xYABM6TSs8Pi8RtQiQM_ {
  min-width: 70vw;
  margin: 3rem 0;
  justify-content: space-between; }
  .progressContainer__22xYABM6TSs8Pi8RtQiQM_ > div {
    justify-items: center; }
  .progressContainer__22xYABM6TSs8Pi8RtQiQM_ p {
    color: #ffffff !important; }
  .progressContainer__22xYABM6TSs8Pi8RtQiQM_ svg {
    color: #a5a1c2 !important; }

.codey__3ofn5UG2W5BtEQIqzFrNgN {
  width: 4.5rem;
  margin-bottom: 1.25rem; }

.moduleGateModal__4pmDvrfTJSCT3VEfK4DJU {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.proLogoYellow__2LQTALu-C-cAOd76Ww-s_R {
  height: 2.25rem;
  margin-bottom: 0.625rem;
  margin-left: 1rem; }

.contentTitle__14pbfw0qiTCqI61aaxCAk_ {
  color: #ffffff;
  height: calc(100% - 80px);
  font-size: 40px; }

.lockedImage__KAKg85AKAboqP8GdS6a7V {
  margin-top: 0.5625rem; }

.lessonDescription__qTJuSVREWFqYXqDE8ICMG {
  color: #ffffff;
  width: 31.5625rem;
  margin-top: 1.5625rem;
  font-size: 16px; }

.moduleGateLinks__1BdZf2sfyCwuwjn9rh0UX4 {
  display: flex;
  flex-direction: column; }

.lessonButton__3oMQk7MQw4AnKzHTXJZ2I_ {
  width: 21.875rem;
  margin: 20px auto; }

.returnPath__qidpVV80zakHONvBqLX0Y {
  margin-top: 1rem;
  color: #4c7ef3;
  font-size: 16px; }

.overlay__DDov6v7v2eaY7TL8hgVeX::before {
  background-color: rgba(21, 20, 31, 0.97); }


/*# sourceMappingURL=platform.ffece6035ddbe2ef5a56.chunk.css.map*/